email=adhanduprolu@gmail.com
always-auth=true
//3.145.153.38:8081/repository/npm-snapshot-repo/:_auth=YWRtaW46YW5qYW4xMjM=
registry=http://3.145.153.38:8081/repository/npm-snapshot-repo/
allowRepublish=true
